# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.settings
.vscode
bin
.classpath
.project

# gradle
build
.gradle
classes

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# macos

*.DS_Store

# datagen cache
src/generated/resources/.cache/
